.idea
.claude

# Taha 1
/taha1/vendor
/taha1/go.mod
/taha1/go.sum
/taha1/*.zip


# Vektor Database Sample
/chromem-sample-1/go.mod
/chromem-sample-1/go.sum
/chromem-sample-1/vendor
/chromem-sample-1/chromem-sample-1
/chromem-sample-1/chromem_data


